@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap");

@media (max-width: 768px) {
    .width-adjust {
        width: 100px !important;
        font-size: 12px;
    }
    .search-icon {
        width: 30px !important;
    }
    .cart-icon-sizing {
        width: 30px !important;
    }
}
.results {
    margin-top: 10px;
}
.search-icon {
    cursor: pointer;
}
.search-results {
    font-family: "Poppins", sans-serif;
}
